// Esquema de colores 

$green: #7CEA9C;
$grey: #2D3047;
$dark: 	#071012;
$white: #FFFFFF;

//Tipografía

$lato: 'Lato', sans-serif;


//Peso de fuente

$light: 300;
$regular: 400;
$bold: 700;
$black: 900;